.cart-details h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.cart-details {
    width: 90%;
    margin-left: 70px;
    padding: 20px;
    background-color: #f8f8f81c;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;


}

.cart-details table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.cart-details table th,
.cart-details table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.cart-details table th {
    background-color: #4a78bd;
    color: white;
    font-weight: bold;
}

.cart-details table th,
.cart-details table td {
    border: none;
}

.cart-details table td.Quantity-btn .btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.cart-details table td.Quantity-btn .btn-style button {
    padding: 8px 14px;
    background-color: #4a78bd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.cart-details table td.Quantity-btn .btn-style button:disabled {
    background-color: #437dc57a;
    cursor: not-allowed;
}

.cart-details .clear_Button {
    background-color: #4a78bd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cart-details .clear_Button:hover {
    background-color: #437dc524;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}