.section-header .home-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.ishi-disney-princess .disney-princess img {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}

.disney-princess-block .disney-princess-title {
    font-size: 18px;
    font-weight: 600!important;
    text-align: center;
    color:#151515;
    margin-top: 10px;
}
.disney-princess-slider {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.disney-princess-slider .page-width {
    max-width: 100%;
    padding: 0 30px;
}


.disney-princess a {
    text-decoration: unset;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
    background: #4876bb;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0 0;
    vertical-align: bottom;
    text-align: center;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 16px;
}

.disney-princess-slider .swiper-slide {
    height: auto;
    background: transparent;
}