.header-content .navfullwidth {
    background: #fff;
}
.navfullwidth {
    clear: both;
    background: white;
}

#header {
    color:#000;
    font-weight: 500;
    font-size: 14px;
    font-family: Montserrat;
    letter-spacing: 0.5px;
}

#header .nav-header {
    background: #4a78bd;
    color: #000;
    font-size: 13px;
    height: 35px;
}

.nav-header.top-set.top_bar_hiden .page-width .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* width: 35px; */
    padding: 0 15px;
    height: 35px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#header .nav-header .header-block {
    text-align: left;
}

.nav-header.top-set .col-md-4 p, .nav-header.top-set .col-md-4 span, .nav-header.top-set .col-md-4 a {
    font-size: 12px;
}

#header .nav-header .header-block:first-child b, .tops_bar_Slider .item:last-child h4 b {
    color: #fcfc11;
}

#header .nav-header .header-block .header-text {
    display: inline-block;
    vertical-align: middle;
    /* padding: 7px 12px; */
    color: #fff;
    cursor: context-menu;
}
.nav-header.top-set .col-md-4 {
    width: 24%;
    padding: 0px;
}
.text-center {
    text-align: center!important;
}

.header-block.col-md-4.col-sm-12.text-center.pay {
    width: 16%;
}

#header .nav-header .header-block .header-text svg {
    fill: black;
}

.header-block.col-md-4.col-sm-12.text-center.pay svg {
    width: 20px;
    height: 20px;
    margin: 0px;
}
.header-text svg {
    vertical-align: middle;
    margin-right: 7px;
}

.userinfo-inner {
    text-align: center;
}
li {
    list-style: none;
}
#header .nav-header ._desktop_user_info .userinfo-inner ul li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#header .nav-header ._desktop_user_info .userinfo-inner ul li:last-child a {
    padding-right: 0;
}
#header .nav-header ._desktop_user_info .userinfo-inner ul li a {
    color: black;
    letter-spacing: 0.5px;
    padding: 6px 10px;
    display: block;
    line-height: 20px;
}
#header .nav-header ._desktop_user_info .userinfo-inner ul li a {
    color: #fff!important;
}


#header .header-top {
    padding: 15px 0 18px 0;
    position: relative;
    background-color: #fff;
}
.site-header-inner {
    text-align: center;
}
.page-width {
    padding-left: 15px;
    padding-right: 15px;
}
.page-width {
    max-width: 1200px;
    margin: 0 auto;
}

#header .header-logo-section.logo_left {
    text-align: left;
}

#header .header-logo-section {
    position: relative;
    float: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#header .header-logo-section .header__logo {
    margin: 0;
}
#header .header-logo-section .header__logo a {
    display: inline-block;
}

a.header__logo-image img{
    height:100%;
    width:210px;
}
#header .header-top .ishiheadercontactblock {
    cursor: context-menu;
    text-align: left;
    white-space: nowrap;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
div#_desktop_search {
    top: 0.7rem;
}
#_desktop_search, #_mobile_search {
    position: relative;
}

#_desktop_search .search-info form, #_mobile_search .search-info form {
    width: 100%;
    max-width: 300px;
    background: transparent;
    float: right;
    position:relative;
}
#_desktop_search .search-info .search-header__submit, #_mobile_search .search-info .search-header__submit {
    border: none;
    border-radius: 0px;
    right: 0;
    top: 0;
    color: white;
    padding: 0;
    height: 36px;
    width: 36px;
    background: #4876bb;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#_desktop_search .search-info .search__input, #_mobile_search .search-info .search__input {
    /* min-width: 290px; */
    width: 80%;
    border-radius: 0px;
    /* height: 36px; */
    height: 26px;
    padding: 5px 10px;
    padding-right: 40px;
    background: white;
    border: 1px solid #ddd;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #a5a5a5;
}
.search-logo {
    display: block;
    cursor: pointer;
    text-align: center;
}
.dextop_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
p.head-account {
    line-height: 1.2rem;
    padding-top: 0.5rem;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.search-bar__submit, .search-header__submit {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: auto;
    right: 0;
    top: 3px;
    padding: 0 0 0 5px;
    height: 100%;
    z-index: 1;
}
.hide {
    display: none!important;
}
.search--focus .search-header__input {
    outline: none;
    background: #fff;
    cursor: auto;
}
.search-logo i {
    position: relative;
    top: 3px;
}
.head-icon p {
    font-size: 10px;
    line-height: 10px;
    padding: 0 1rem;
    font-family: 'Montserrat';
    color: #000 !important;
    font-weight: 500;
}
.wishlist_dextop-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wishlist_dextop-icon a {
    color: #151515;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 1px;
}
#header #_desktop_cart, #header #_mobile_cart {
    text-align: right;
    white-space: nowrap;
    position: relative;
}
#header #_desktop_cart .cart-display .cart-title, #header #_mobile_cart .cart-display .cart-title {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
#header #_desktop_cart .cart-display .cart-title .cart-logo, #header #_mobile_cart .cart-display .cart-title .cart-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#header #_desktop_cart .cart-display .cart-title .cart-logo {
    width: 23px !important;
    height: 23px !important;
}
.header-nav.navfullwidth .page-width {
    max-width: 1270px;
}
.wrapper-nav.hidden-lg-down .row {
    display: flex;
    justify-content: center;
}
#shopify-section-Ishi_megamenu {
    display: block;
}
#_desktop_top_menu {
    /* float: left; */
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
}
#_desktop_top_menu {
    padding: 0;
}
#_desktop_top_menu #top-menu, #mobile_top_menu_wrapper #top-menu {
    display: flex;
}
#_desktop_top_menu #top-menu {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
#top-menu > li {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#top-menu > li .dropdown-item {
    white-space: normal;
}

#top-menu > li > a {
    display: block;
    padding: 10px 14px;
    position: relative;
    overflow: hidden;
    line-height: 20px;
}
#top-menu > li > a {
    padding: 10px 14px 14px 0;
    color: black;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Montserrat;
    text-decoration: unset;
}
#header .nav-header .header-block span, #header .nav-header .store-location a {
    font-size: 11px;
}
.tops_bar_Slider .swiper .swiper-wrapper .swiper-slide {
    background: #4a78bd;
    color:#fff;
    height: auto;
}
.tops_bar_Slider {
    display: none;
}
.mobile-width {
    width: 100% !important;
}
.mobile-width .mobile-width-left {
    float: left;
    padding: 5px;
}
.mobile-width .mobile-width-left #menu-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
img.mob_badge_image_twenty {
    max-width: 35px;
    height: 35px;
}
#header .header-logo-section {
    position: relative;
    float: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.header-logo-section .header__logo-image img {
    max-width: initial!important;
}
.mobile-width .mobile-width-right {
    float: right;
}
.mobile-width .mobile-width-right > div {
    float: right !important;
}
#header #_desktop_cart .cart-display .cart-title, #header #_mobile_cart .cart-display .cart-title {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.mobile-width .cart-display .site-header__cart {
    margin-right: 0;
    padding: 0;
}
#_desktop_search, #_mobile_search {
    position: relative;
}
.mobile_tab_menu {
    display: none;
    overflow: scroll;
    width: 100vw;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.mobile_tab_menu.dddd ul {
    background-color: #fafafa;
    padding-left: 0;
}
.mobile_tab_menu li {
    display: inline-block;
    overflow: scroll;
    color: #5d5e5c;
    border: 0;
    padding: 7px 15px;
    font-size: 16px;
    border-left: .5px solid #ecedeb;
    border-bottom: 1px solid #ecedeb;
}
.mobile_tab_menu ul li a {
    color: #151515;
    text-decoration: unset;
}








@media only screen and (min-width:1200px){

}


@media only screen and (min-width:1200px){
    .nav-header.top-set .col-md-4 p, .nav-header.top-set .col-md-4 span, .nav-header.top-set .col-md-4 a {
        font-size: 12px;
    }
}




@media only screen and (min-width:992px){
    .hidden-lg-up {
        display: none!important;
    }
    .col-md-3 {
        width: 25%;
    }
    #header .header-top .ishiheadercontactblock {
        width: 50% !important;
        padding-left: 6px;
    }

    #_desktop_search, #_mobile_search {
        display: inline-block;
        vertical-align: middle;
        padding: 7px 7px 7px 15px;
    }
    #_desktop_search .search-info, #_mobile_search .search-info {
        display: block;
    }
    #_desktop_search .search-header {
        max-width: 100%!important;
        border: 1px solid #4876bb;
        border-radius: 5px;
    }
    #_desktop_search .search-header .search-header__submit {
        border-radius: 0;
        background: #4876bb;
        width: 56px;
    }

    #_desktop_search .search-header .search-header__input {
        border: 0;
        text-indent: 0;
    }
    #_desktop_search .search-info .search-header__submit .search-logo i, #_mobile_search .search-info .search-header__submit .search-logo i {
        color: #fff;
        font-size: 25px;
    }
    .search-logo i {
        position: relative;
        top: 3px;
    }
    .material-icons {
        font-family: Material Icons;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-osx-font-smoothing: grayscale;
    }
    .dextop_icons {
        padding-left: 13px;
    }
    #_desktop_login .account-logo {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    #_desktop_login .account-logo a {
        font: normal normal normal 24px/1 FontAwesome;
        /* content: "\f007"; */
        position: relative;
        top: 10px;
        left: 1px;
        text-decoration: unset;
    }
    #_desktop_search {
        float: none;
        width: 100%;
        padding: 0;
    }
    #_desktop_search .search-info .search__input, #_mobile_search .search-info .search__input {
        border-radius: 20px;
        /* text-indent: 10px; */
    }
    #_desktop_search .search-info .search-header__submit .search-logo i, #_mobile_search .search-info .search-header__submit .search-logo i {
        color: #fff;
        font-size: 25px;
    }
    .header-content .wrapper-nav {
        border-top: 2px solid #969696;
        border-bottom: 0px solid #969696;
    }

}

@media only screen and (max-width:991px){
    #_desktop_search, #_mobile_search {
        padding: 5px 0;
        height: 50px;
        text-align: right;
    }
    #header .header-top .header-logo-section, .hidden-lg-down {
        display: none!important;
    }
    .header-content .mobile-width .row {
        position: relative;
    }
    .header-content .mobile-width .row .mobile-width-left {
        position: absolute;
        top: 17%;
        z-index: 99;
    }
    .header-content .mobile-width .row .header-logo-section {
        padding: 10px 0;
        text-align: center !important;
    }
    .header-content .mobile-width .row .mobile-width-right {
        position: absolute;
        top: 20%;
        right: 0;
    }
    #header #_desktop_cart, #header #_mobile_cart {
        padding: 5px;
        padding-right: 15px;
        border: 0;
    }
    #header .header-top {
        padding: 0;
    }
    #_desktop_search .search-info, #_mobile_search .search-info {
        z-index: 2;
        position: absolute;
        right: 0;
        margin-top: 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        top: 50px;
    }
    #search-container-full {
        position: static !important;
        display: block;
    }
    #search-container-full form {
        position: static !important;
        max-width: 100% !important;
    }
    .tops_bar_Slider .item h4 {
        margin: 0;
    }
    #search-container-full form .search__input {
        border: 1px solid #4876bb !important;
        border-radius: 5px !important;
    }
    #_desktop_search .search-info .search-header__submit, #_mobile_search .search-info .search-header__submit {
        top: 6px;
    }
    #_desktop_search .search-info .search__input, #_mobile_search .search-info .search__input {
        width: 85%;
    }
}


@media only screen and (min-width:991px){
    img.badge_image_twenty {
        max-width: 70px;
        height: 70px;
        margin-bottom: -8px;
    }
    .header-logo-section {
        display: flex!important;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }
    #_desktop_search {
        margin-left: 0px;
    }
    div#search-container-full {
        width: 70%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:890px){
    .cart-logo.hidden-lg-up img {
        height: 23px;
    }
.cart-display.site-header__cart.expand-more {
    padding: 1rem 0;
}
#header #_mobile_cart .cart-display .cart-title .cart-logo {
    width: 40px;
    height: 23px;
}
}

@media only screen and (max-width:990px){
    .tops_bar_Slider {
        display: block!important;
        background: #4a78bd;
        padding: 12px 0;
    }
    .mobile-width-left {
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }
}

@media only screen and (min-width:800px){
    #header .nav-header .header-block:first-child {
        display: inline-block !important;
    }
    }

    @media only screen and (max-width:749px){
    .site-header__menu, .site-header__search-toggle, .site-header__cart, .site-header__account {
        display: inline-block;
        vertical-align: middle;
        padding: 18px 8px;
        margin: 0;
    }
}


@media only screen and (min-width:767px){
.userinfo-inner .store-location {
    display: none!important;
}
#_desktop_login {
    order: 1;
    margin-top: -5px;
}
#_desktop_login .head-icon p {
    margin-left: -5px;
}
#header .header-top .ishiheadercontactblock {
    width: 45%!important;
    text-align: center;
}
.head-icon {
    /* display: unset; */
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
/* #_desktop_wishlist .wishlist_dextop-icon img {
    margin-top: -7px;
} */
#header #_desktop_cart {
    margin-left: 20px;
}
.wishlist-content p {
    margin-top: 0;
}
#_desktop_cart {
    order: 2;
    margin-top: -5px;
}
}

@media only screen and (min-width:544px){
    #header .header-top > .page-width > .row {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width:543px){
.hidden-xs-down {
    display: none!important;
}
#header .header-logo-section {
    float: none;
    width: 100%;
    text-align: center;
}
}

@media only screen and (max-width:480px){
.top_bar_hiden, .top_bar_hiden {
    display: none!important;
}
.header-logo-section .header__logo-image img {
    width: 140px!important;
}
.mobile-width-right {
    display: flex;
    position: absolute;
}
.mobile_tab_menu {
    display: flex!important;
}
}

span.cart-logo.hidden-lg-down img {
    height: 22px;
    width: 23px;
}
#header #_desktop_cart .cart-display .cart-title .cart-logo {
    width: 23px !important;
    height: 23px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}