.pdp-tabs-container{
    max-width: 1200px;
    margin: 0 auto;
}
.pdp-card p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(120, 120, 120);
}
.pdp-tabs-buttons {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.pdp-tabs-buttons button {
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.pdp-tabs-buttons button:hover{
    background: black;
    color:white;
}

.pdp-tabs-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    width: 100%;
}
.pdp-tabs-buttons .active{
    background: black;
    color:white;
}
.pdp-card {
    padding: 15px;
    text-align: left;
    line-height: 26px;
    color: #787878;
    margin-bottom: 20px;
    letter-spacing: .1px;
    font-weight: 500;
}
@media only screen and ( max-width: 600px ){
    .pdp-tabs-container {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #e9e9e9;
        width: 100%;
        margin: 20px;
        padding: 10px;
    }
    .pdp-tabs-buttons {
        display: flex;
        justify-content: center;
        row-gap: 15px;
        flex-direction: column;
    }
}