/* General Styling for the Product Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Container Styling */
.single_product-page-container {
    max-width: 1200px;
    margin: 45px auto;

}

/* Header Styling */
.single_product-info h1 {
    font-size: 30px;
    color: #222222;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    /* font-family: Poppins; */
}

/* Details Section */
.single_product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.single_product-images {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    /* background-color: #f4f4f4; */
    padding: 20px;
}

.single_product-main-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #eeeeee !important;
}

.single_product-info {
    /* flex: 1; */
    padding: 20px;
    width: 35%;
}

/* .single_product-info h1 {
    font-size: 1.8rem;
    color: #222222;
    margin-bottom: 10px;
} */

.single_product-description {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 15px;
}

.single_product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}


/* Error Message */
.error-message {
    color: #ff0000;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

/* Not Found Message */
.not-found-message {
    font-size: 1.5rem;
    color: #666666;
    text-align: center;
    margin-top: 50px;
}

.spinner {
    text-align: center;
}

.loading-spinner {
    text-align: center;
    margin: 60px auto;
}


@media only screen and (max-width: 600px) {
    .single_product-info {
        width: 100%;
    }

    .single_product-images {
        width: 100%;
    }
}




/*  */
.single_product-images:hover .single_product-main-img {
    transform: scale(1.1);
}

.single_product-images:hover .zoom-overlay {
    display: block;
}

.single_product-images:hover .zoom-container {
    overflow: hidden;
}

.zoom-container {
    position: relative;
    width: 85%;
    height: 100%;

}

.zoom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 200%;
    pointer-events: none;
    display: none;
}

.Add-to-cart {
    margin-top: 20px;
}

/* .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #00adb7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  } */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error-message,
.not-found-message {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #ff0000;
}