/* General container */
/* .main-product-container {
    display: flex;
    align-items: center;
    gap: 20px;
  } */

  .main-product-container {
    display: inline-block;
    align-items: center;
    gap: 20px;
  }
  
  /* Quantity controls container */
  .quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .quantity-controls button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
  .quantity-controls button:hover {
    background-color: #f0f0f0;
  }
  
  .quantity-controls .quantity-input {
    width: 40px!important;
    height: 40px;
    text-align: right;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    color: #333;
  }
  
  /* Add to Cart button */
  .add-to-cart-btn {
    background-color: #437dc5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0;
  }
  
  .add-to-cart-btn:hover {
    background-color: #3569a7;
  }
  
  /* SKU text */
  .sku {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-family: Arial, sans-serif;
  }
  button.decrease-btn {
    border-right: 1px solid #ccc;
}
button.increase-btn {
    border-left: 1px solid #ccc;
}


@media only screen and (max-width:767px){
  /* .product-card.grid h3{
    width: 150px;
  } */
  .product-card.grid .quantity-controls .quantity-input, .product-card.list .quantity-controls .quantity-input {
    text-align: center;
}
.product-card.grid button.add-to-cart-btn {
  width: 75%;
}
.product-card.list {
  display: inline-block;
}
.product-container.list .product-card a {
  width: 100%;
}
.product-card.list .collection-container .quantity-controls {
  width: 52%;
  margin: 0 auto;
}
.collection-container .product-container.list button.add-to-cart-btn {
  width: 100%;
  margin-top: 10px;
}
.product-container.list .main-product-container {
  display: inline-block;
  justify-content: space-between;
}
.quantity-controls .quantity-input {
  text-align: center;
}
}

